
<div class="row">
    <div class="col s12 m8">
        <h3>{{line.title}}
            <small>{{{editIcon line.user user line._id false}}}</small>
        </h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title">{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>
                {{{line.body}}}
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{line.user.displayName}}</span>
                <img src="{{line.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/lines/user/{{line.user._id}}">More From {{line.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>